<h2>Nueva Entrada</h2>
<%= form_with model: @character, method: :post do |form| %>
    <div>
        <%= form.label :name, "Nombre "%>
        <%= form.text_field :name, required: true%>
    </div>
    <div>
        <%= form.label :location, "Localizacion "%>
        <%= form.text_field :location, required: true %>
    </div>
    <div>
        <%= form.label :house, "Casa "%>
        <%= form.text_field :house, required: true %>
    </div>
    <div>
        <%= form.submit "Submit" %>
    </div>
<% end %>