<div class="row">
    <div class="col-4">
        <h2>Elige que quieres buscar</h2>
        <% entrada = params[:query] %>
        <%= form_with url: search_path, method: 'get' do |form| %>
          <%= form.text_field :query, value: entrada, class: "form-control" %>
          <%= form.select :field, options_for_select([['Nombre', 'name'], ['Localizacion', 'location'], ['Casa', 'house']], params[:field]), prompt: 'Selecciona un campo', class: "form-select" %>
          <%= form.submit "Buscar", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
<div class="row">
    <% if entrada.present? %>
      <% @search_results.each do |e| %>
          <div class="col-4 mb-3">
              <ul class="list-group">
                  <li class="list-group-item"><strong>Nombre: </strong><%= e.name %></li>
                  <li class="list-group-item"><strong>Localizacion: </strong><%= e.location %></li>
                  <li class="list-group-item"><strong>Casa: </strong><%= e.house %></li>
              </ul>
          </div>
      <% end %>
    <% end %>
</div>

<br>

<br>