<h2>Busqueda por nombre</h2>
<br>
<% entrada = params[:query] %>
<%= form_with url: search_path, method: 'get' do |form| %>
  <%= form.text_field :query, value: entrada %>
  <%= form.select :field, options_for_select([['Nombre', 'name'], ['Localizacion', 'location'], ['Casa', 'house']], params[:field]), prompt: 'Selecciona un campo' %>
  <%= form.submit "Buscar" %>
<% end %>
<br>
<% if entrada.present? %>
    <% @search_results.each do |e| %>
        <p><strong>Personaje:</strong> <%= e.name %></p>
        <p><strong>Localización:</strong></strong> <%= e.location %></p>
        <p><strong>Casa:</strong> <%= e.house %></p>
    <% end %>
<% end %>